@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
}
html {
	font-size: 16px;
}
.contents {
	width: 100%;
	height: 80%;
}
/* /* 손님 메뉴 탭
.customer_menu {
	width: 98%;
	height: 90%;
	padding: 0 15px;
	background-color: #fff0f5;
}
.customer_menu .tit_list {
	position: relative;
	font-size: 0;
    width: 94%;
    height: 10%;
    margin: auto;
    padding-top: 1%;
}
.customer_menu .tit_list:before {
	content:'';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	z-index: 1;
}
.customer_menu .tit_list > li {
	display: inline-block;
	vertical-align: top;
	margin-right: 3px;
	width: 22.7%;
	height: 38%;
    padding-right: 2%;
	cursor: pointer;
}
.customer_menu .tit_list > li a {
	display: inline-block;
	width: 93%;
	height: 200%;
	padding: 1vw 1vw;
	border-radius:4px 4px 0 0;
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
   	background-color: #fffdfd;
	color: #f7bbcd;
	text-decoration: none;
}
.customer_menu .tit_list > li a:hover {
	width: 93%;
	height: 200%;
	background: #efefef;
	border-color: #efefef;
}
.customer_menu .tit_list > li.active a {
	width: 93%;
	height: 200%;
	position: relative;
	border-color: #ddd;
	background: #ffe4ec;
	color: #fffdfd;
    font-weight: bold;
	z-index: 2;
}
.customer_menu .tab_con {
	border-top: none;
	width: 100%;
	height: 89%;
	margin: auto;
}
.customer_menu .tab_con .tab_list {
	display: none;
	width: 100%;
	height: 100%;
} */
/* 손님 메뉴 탭 */
.customer_menu {
	width: 100%;
	height: 18%;
	background-color: #fff0f5;
}
.customer_menu>input[type="radio"] {
	display:none;
}
.customer_menu>input[type="radio"] + label {
	display: inline-block;
	width: 22.3%;
	height: 58%;
	padding: 20px;
	cursor: pointer;
	background-color: #fffdfd;
	color: #f7bbcd;
    font-size: 3vw;
    font-weight: bold;
    line-height: 180%;
    text-align: center;
   	margin-left: 1.85%;
	margin-top: 1.5%;
	padding: 0;
	white-space: nowrap;
}
.customer_menu>input[type="radio"]:checked + label {
	background: #ffe4ec;
	color: #fffdfd;
    font-weight: bold;
}
.conbox {
	width: 100%;
	height: 494%;
	background: #fff0f5;
	margin: 0 auto;
	display: none;
}
.customer_menu>input[id="tab01"]:checked ~ .con1 {
	display: block;
}
.customer_menu>input[id="tab02"]:checked ~ .con2 {
	display: block;
}
.customer_menu>input[id="tab03"]:checked ~ .con3 {
	display: block;
}
.customer_menu>input[id="tab04"]:checked ~ .con4 {
	display: block;
} 
.scroll_container {
	position: relative;
    overflow: auto;
    width: 100%;
    height: 94%;
    margin-top: 2%;
}
.container {
    display: grid;
    position: absolute;
    width: 94%;
    height: 95%;
    margin: auto;
    padding: 2%;
    background-color: #fff0f5;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1vw;
    grid-auto-rows: 279px;
    grid-auto-flow: row;
}
.item {
	background-color: white;
	cursor: pointer;
}
.item_name {
	text-align: center;
	font-size: 1.2vw;
}
.item_img {
	position: relative;
	width: 100%;
	height: 70%;
}
.item_price {
	width: 50%;
	height: 30%;
	margin: auto;
	text-align: center;
}
.item_price>span {
	font-size: 1.5vw;
	font-weight: 600;
	text-align: center;
}
.item .item_img img {
	position: absolute; top: 0; left: 0;
	width: 100%;
	height: 100%;
}

/* 옵션 팝업 */
#popup {
	display: none;
    position: fixed;
    left: 23%;
    top: 26%;
    width: 54%;
    height: 85%;
    margin-top: -10%;
    z-index: 1000;
    background: white;
    border: 1px solid #d1d8dd;
    box-shadow: 0 0 6px 1px rgb(0 0 0 / 30%);
}
.popup_close {
	width: 100%;
	height: 5%;
	position: relative;
}
.popup_close img{
    position: absolute;
    top: 10%;
    right: 0.5%;
    width: 5%;
    height: 80%;
    cursor: pointer;
}
.popup_container {
	width: 100%;
	height: 80%;
}
.popup_contents1 {
	width: 100%;
	height: 50%;
}
.popup_img {
	width: 50%;
	height: 100%;
	float: left;
	position: relative;
}
.popup_img div>img {
	position: absolute; top: 0; left: 0;
	width: 100%;
	height: 100%;
}
.popup_detail {
	width: 50%;
	height: 100%;
	float: left;
}
.popup_option {
	width: 100%;
	height: 33%;
}
.popup_option span {
	font-size: 1.5vw;
	line-height: 5;
}
/* 핫/아이스 옵션 선택 디자인 */
.popup_option_btn {
	width: 47%;
	height : 32%;
	border: 1px solid #EAE7E7;
	border-radius: 10px;
	float: left;
	margin-top: 5%;
}
.popup_option_btn input[type=radio] {
	display: none;
}
.popup_option_btn label {
	display: block;
	border-radius: 10px;
	margin: 0 auto;
	text-align: center;
	height: -webkit-fill-available;
	line-height: 200%;
	cursor: pointer;
}
/* Checked */
.popup_option_btn input[type=radio]:checked + label {
	background: #f1b7b7;
	color: #fff;
}
/* Hover */
.popup_option_btn label:hover {
	color: #666;
}
/* Disabled */
.popup_option_btn input[type=radio] + label {
	background: #F9FAFC;
	color: #666;
}
.popup_option #minus {
    width: 10%;
    height: 40%;
    margin-right: 1%;
    font-size: 2vw;
    line-height: 0%;
    background-color: #f1b7b7;
    color: #ffffff;
    border: 0;
    cursor: pointer;
}
.popup_option #plus{
 	width: 10%;
    height: 40%;
    margin-right: 1%;
    font-size: 2vw;
    line-height: 0%;
    background-color: #f1b7b7;
    color: #ffffff;
    border: 0;
    cursor: pointer;
}
.popup_option #quantity{
	width: 10%;
	height: 26px;
	text-align: center;
    font-size: 1.5vw;
    padding-left: 1%;
    border: 0;
    background-color: transparent;
}
/* 샷추가, 얼음양 옵션 부분 */
.popup_contents2 {
	width: 100%;
	height: 50%;
}
.popup_list {
	width: 100%;
	height: 30%;
}
.popup_listname {
	width: 40%;
	height: 100%;
	float: left;
	margin-left: 8%;
}
.popup_listname span {
	font-size: 1.5vw;
    margin-left: 20%;
}
.popup_listitem {
	width: 40%;
	height: 100%;
	float: left;s
}
.popup_listitem #minus {
    width: 10%;
    height: 45%;
    margin-right: 1%;
    margin-left: 5%;
    font-size: 2vw;
    background-color: #f1b7b7;
    color: #ffffff;
    border: 0;
    cursor: pointer;
}
.popup_listitem #plus{
 	width: 10%;
    height: 45%;
    margin-right: 1%;
    font-size: 2vw;
    background-color: #f1b7b7;
    color: #ffffff;
    border: 0;
    cursor: pointer;
}
.popup_listitem #option3{
	width: 10%;
	height: 26px;
	text-align: center;
    font-size: 1.5vw;
    padding-left: 1%;
    border: 0;
    background-color: transparent;
}
.popup_listitem input[type="radio"] {
    font-size: 1.5vw;
    accent-color: #d57070;
    border-radius: 50%;
    width: 6%;
    height: 20%;
    margin-left: 4%;
}
.popup_listitem label {
	font-size: 1.5vw;
	padding-right: 3%;
}


/* radio 버튼 불능상태 디자인
	
  [type="radio"]:disabled {
  background-color: lightgray;
  box-shadow: none;
  opacity: 0.7;
  cursor: not-allowed;
}

[type="radio"]:disabled + span {
  opacity: 0.7;
  cursor: not-allowed;
} */

/* 옵션창 확인 부분 */
.popup_submit {
	width: 100%;
	height: 15%;
    position: relative;
}
.popup_submit>input[type="submit"] {
	width: 23%;
	height: 50%;
    margin-left: 40%;
    border: none;
    font-size: 2.5vw;
    font-weight: bold;
    background-color: #f3a9a9;
    color: #ffffff;
}
.popup_submit div {
	width: 80%;
	height: 100%;
	margin: auto;
}
.popup_submit div>input  {
	width: 25%;
    height: 50%;
    margin-left: 15%;
    border: none;
    font-size: 3vw;
    font-weight: bold;
    background-color: #D0CECE;
    color: #ffffff;
    cursor: pointer;
}
.popup_submit div>input:nth-child(2)  {
	width: 25%;
    height: 50%;
    margin-left: 15%;
    border: none;
    font-size: 3vw;
    font-weight: bold;
    background-color: #f3a9a9;
    color: #ffffff;
    cursor: pointer;
}
/* 장바구니 */
.cart {
	width: 100%;
	height: 15%;
	background-color: #fff0f5;
}
.cart_list {
    display: block;
    overflow: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 94%;
}
.cart_list>table {
    width: 90%;
    height: 100%;
    text-align: center;
    padding: 0.6%;
    margin: auto;
}
.cart_list>table>thead>tr {
    font-size: 1vw;
}
.cart_list>table>thead>tr>th {
	position: relative;
}
.cart_list>table>thead img {
	position: absolute; top: 0; left: 0;
	width: 32%;
	height: 92%;
}
.cart_list>table>tbody>tr {
    font-size: 1vw;
    height: 40%;
}
.cart_list>table>tbody>tr>td {
    /* position: relative; */
}
.cart_list>table>tbody img {
	position: absolute; top: 7%; left: 34%;
	width: 32%;
	height: 92%;
	filter: opacity(1) drop-shadow(0 0 0 #f7bbcd);
}
.cart_list>table>tbody .cancle {
	background-image: url("../image/icon/x-icon.png");
    background-repeat: no-repeat;
    background-size: contain;
	border: none;
	width: 32%;
	height: 92%;
	cursor: pointer;
}
#minus{
	width: 5%;	
	height: 30px;
	margin-right: 1%;
    font-size: 1vw;
    background-color: #f7bbcd;
    color: #ffffff;
    border: 0;
    cursor: pointer;
}
#plus{
	width: 5%;	
	height: 30px;
	margin-left: 1%;
    font-size: 1vw;
    background-color: #f7bbcd;
    color: #ffffff;
    border: 0;
    cursor: pointer;
}
#price{
	width: 10%;
	height: 26px;
	text-align: center;
    font-size: 1vw;
    border: 0;
    background-color: transparent;
}

/* 주문창 */
.payment {
	width: 100%;
	height: 15%;
	background-color: #fff0f5;
}
.payment_content {
	width: 50%;
	height: 100%;
	float: left;
	background-color: #fff0f5;
}
.payment_box1 {
	width: 100%;
	height: 50%;
	background-color: #fff0f5;
}
.payment_text {
	width: 40%;
	height: 100%;
	float: left;
	background-color: #fff0f5;
	color: #404040;
}
.payment_text span {
	font-size: 1.5vw;
	padding-left: 20%;
	line-height: 2;
	font-weight: bold;
} 
.payment_quantityNum {
	width: 60%;
	height: 100%;
	float: left;
	background-color: #fff0f5;
}
.payment_quantityNum span {
	font-size: 1.5vw;
	line-height: 2;
	font-weight: bold;
	color: #404040;
} 
.payment_amountNum {
	width: 60%;
	height: 100%;
	float: left;
	background-color: #fff0f5;
}
.payment_amountNum span {
	font-size: 1.5vw;
	line-height: 2;
	font-weight: bold;
    color: #d76a6a;
} 
.payment_box2 {
	width: 50%;
	height: 100%;
	float: left;
	position: relative;
	background-color: #fff0f5;
}
.payment_box2 img {
	position: absolute;
	top: 4%;
    left: 10%;
	width: 90%;
	height: 90%;
	cursor: pointer;
}
/* check_member.jsp 멤버십 적립 페이지 */
.member_container {
	width: 80%;
	height: 90%;
	margin: auto;
    background-color: #fbdede7d;
    position: relative;
}
.title_box {
	width: 100%;
	margin-top: 3%;
	text-align: center;
}
.title_box span {
	font-size: 2vw;
	font-weight: 900;
    color: #F2A8A8;
}
.number_box {
	width: 80%;
	height: 30%;
	margin: auto;
}
.number_box input {
	width: 80%;
	height: 25%;
	margin: auto;
    margin-top: 10%;
    margin-left: 9%;
	border: 1px solid #ccc;
    font-size: 2vw;
    font-weight: 600;
    padding-left: 1%;
    color: #F2A8A8;
}
.keypad_box {
    display: flex;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}
.keypad_box > div {
	flex-basis: 30%;
    margin-bottom: 10px;
    margin: 1%;
    margin-left: 2%;
}
.keypad_box input {
     width: 100%;
     box-sizing: border-box;
     padding: 10px;
     font-size: 2vw;
     font-weight: 600;
     text-align: center;
     border: 1px solid #ccc;
     cursor: pointer;
     color: #666464;
}
.keypad_box input:focus {
  outline: none;
  border-color: #f7a5a5;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}
.check_box {
	width: 77%;
    height: 25%;
    margin: auto;
    position: relative;
}
.check_box button {
	width: 50%;
	height: 90%;
	cursor: pointer;
	border: 1px solid #ccc;
    font-size: 2vw;
    font-weight: 600;
    background-color: #D0CECE;
	color: #fdfdfd;
}
.check_box button:nth-child(2) {
	width: 49%;
	height: 90%;
	cursor: pointer;
	border: 1px solid #ccc;
    font-size: 2vw;
    font-weight: 600;
    background-color: #F2A8A8;
	color: #fdfdfd;
}
.check_box div {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
}
/* join.jsp */
.join_container {
    width: 80%;
    height: 97%;
    margin: auto;
    position: absolute;
    margin-top: 1%;
    margin-left: 10%;
    background-color: #ffffff;
    border-radius: 1%;
}
.text_container {
	width: 80%;
	height: 20%;
	margin: auto;
	text-align: center;
	padding-top: 2%;
}
.text_container span {
	font-size: 2vw;
    font-weight: 900;
    color: #383838;
}
.text_container span:nth-child(1){
	font-size: 2vw;
    font-weight: 900;
    color: #F2A8A8;
}
.text_container span:nth-child(5){
	font-size: 2vw;
    font-weight: 900;
    color: #F2A8A8;
}

.check_container {
	width: 90%;
	height: 65%;
	margin: auto;
}
/*input 은 숨겨주기*/
.check_container input[type="checkbox"]{
  	display:none;
}
/*input 바로 다음의 label*/
.check_container input[type="checkbox"] + label{
  	cursor:pointer;
}

/*input 바로 다음의 label:before 에 체크하기 전 CSS 설정*/
.check_container input[type="checkbox"] + label:before{
	content:"";
	display:inline-block;
	width:17px;
	height:17px;
	line-height:17px;
	border:1px solid #cbcbcb;
	vertical-align:middle;/*체크 전과 체크 후 높이 차이 때문에 설정*/
}
  
/*checked된 input 바로 다음의 label:before 에 체크 후 CSS 설정*/  
.check_container input[type="checkbox"]:checked + label:before{
	color:#fff;
	background-color:#ff8c8c;
	border-color:#cbcbcb;
	font-size:13px;
	text-align:center;
}

.check_container div #detail {
	background-color: #ffd5d5;
	width: 96px;
	height: 38px;
	color: #ffffff;
	font-size: 1vw;
	font-weight: 700;
	border: 2px solid #e1e1e1;
	cursor: pointer;
}
.check_container span {
	margin-left: 1%;
}

.detail_container {
	width: 100%;
	height: 90%;
	display: none;
}
.detail_container textarea {
	width: 100%;
	height: 270px;
	margin-top: 1%;
	resize: none;
}
#join_popup {
	width: 100%;
    height: 17%;
    position: relative;
}
#modal.modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
}
#modal .modal-window {
	background: rgb(255 164 164 / 70%);
    box-shadow: 0 8px 32px 0 rgb(255 164 164 / 37%);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    width: 400px;
    height: 400px;
    position: relative;
    top: -100px;
    text-align: center;
}
#modal .title {
    padding-left: 25px;
    display: inline-block;
    color: white;
    font-size: 38px;
    font-weight: 600;
    margin-top: 30%;
    
}
#modal .title span {
    display: inline-block;
}
#modal .title span:nth-child(3) {
    display: inline-block;
    font-size: 25px;
    font-weight: 600;
}
#modal .close-area {
    display: inline-block;
    float: right;
    padding-right: 10px;
    cursor: pointer;
    color: white;
    font-size: 27px;
    font-weight: 600;
}
#modal .content {
	width: 100%;
	height: 33%;
    margin-top: 20px;
    position: absolute;
    bottom: -60px;
}	
#modal .content input {
	width: 37%;
	height: 40%;
    border: none;
    font-size: 2vw;
    font-weight: bold;
    background-color: #D0CECE;
    color: #ffffff;
    cursor: pointer;
}
#modal .content input:nth-child(2) {
	width: 37%;
	height: 40%;
    border: none;
    font-size: 2vw;
    font-weight: bold;
    background-color: #ffffff;
    color: #f3a9a9;
    cursor: pointer;
}
/* payment.jsp */
.payment_container {
	width: 90%;
	height: 50%;
	margin: auto;
    background-color: #fbdede7d;
}
.payment_container .payment_title {
    width: 50%;
    height: 44%;
    margin: auto;
    font-size: 1.5vw;
    font-weight: 600;
    padding-top: 8%;
}
.payment_title span:nth-child(1) {
    font-size: 1.5vw;
    font-weight: 900;
    color: #F2A8A8;
}
.payment_container .payment_amount {
    width: 100%;
    height: 27%;
    margin: auto;
    font-size: 1.5vw;
    font-weight: 600;
    text-align: center;
}
.payment_amount span:nth-child(2) {
    font-size: 1.5vw;
    font-weight: 900;
    color: #F2A8A8;
}
.payment_button input{
    width: 21%;
    height: 50%;
    margin-top: 4%;
    border: none;
    font-size: 2vw;
    font-weight: bold;
    background-color: #f3a9a9;
    color: #ffffff;
    cursor: pointer;
}
.order_container {
	width: 90%;
	height: 50%;	
	margin: auto;
    background-color: #f3f3f37d;

}
.order_container .order_title {
    width: 50%;
    height: 7%;
    margin: auto;
    font-size: 1vw;
    font-weight: 600;
    text-align: center;
}
.order_contents {
	width: 50%;
	height: 80%;
	margin: auto;
}
.order_contents table {
	width: 100%;
	text-align: center;
	font-size: 1.2vw;
}
/* 반응형 */
@media (max-width: 1024px){
	.contents {
		width: 100%;
		height: 80%;
	}
/* 	/* 손님 메뉴 탭
	.customer_menu {
		width: 98%;
		height: 90%;
		background-color: #fff0f5;
	}
	.customer_menu .tit_list {
		position: relative;
		font-size: 0;
	    width: 94%;
	    height: 10%;
	    margin: auto;
	    padding-top: 1%;
	}
	.customer_menu .tit_list:before {
		content:'';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
		z-index: 1;
	}
	.customer_menu .tit_list > li {
		display: inline-block;
		vertical-align: top;
		margin-right: 3px;
		width: 21.7%;
		height: 38%;
	    padding-right: 2%;
		cursor: pointer;
	}
	.customer_menu .tit_list > li a {
		display: inline-block;
		width: 93%;
		height: 200%;
		padding: 1vw 1vw;
		border-radius:4px 4px 0 0;
	    font-size: 3vw;
	    font-weight: bold;
	    text-align: center;
	   	background-color: #fffdfd;
		color: #f7bbcd;
		text-decoration: none;
	}
	.customer_menu .tit_list > li a:hover {
		width: 93%;
		height: 200%;
		background: #efefef;
		border-color: #efefef;
	}
	.customer_menu .tit_list > li.active a {
		width: 93%;
		height: 200%;
		position: relative;
		border-color: #ddd;
		background: #ffe4ec;
		color: #fffdfd;
	    font-weight: bold;
		z-index: 2;
	}
	.customer_menu .tab_con {
		border-top: none;
		width: 100%;
		height: 89%;
		margin: auto;
	}
	.customer_menu .tab_con .tab_list {
		display: none;
		width: 100%;
		height: 100%;
	} */
	/* 손님 메뉴 탭 */
	.customer_menu {
		width: 100%;
		height: 18%;
		background-color: #fff0f5;
	}
	.customer_menu>input[type="radio"] {
		display:none;
	}
	.customer_menu>input[type="radio"] + label {
		display: inline-block;
		width: 22.3%;
		height: 32%;
		padding: 20px;
		cursor: pointer;
		background-color: #fffdfd;
		color: #f7bbcd;
	    font-size: 3vw;
	    font-weight: bold;
	    line-height: 145%;
	    text-align: center;
	   	margin-left: 1.85%;
		margin-top: 1.5%;
		padding: 0;
		white-space: nowrap;
	}
	.customer_menu>input[type="radio"]:checked + label {
		background: #ffe4ec;
		color: #fffdfd;
	    font-weight: bold;
	}
	.conbox {
		width: 100%;
		height: 513%;
		background: #fff0f5;
		margin: 0 auto;
		display: none;
	}
	.customer_menu>input[id="tab01"]:checked ~ .con1 {
		display: block;
	}
	.customer_menu>input[id="tab02"]:checked ~ .con2 {
		display: block;
	}
	.customer_menu>input[id="tab03"]:checked ~ .con3 {
		display: block;
	}
	.customer_menu>input[id="tab04"]:checked ~ .con4 {
		display: block;
	} 
	.scroll_container {
		position: relative;
	    overflow: auto;
	    width: 100%;
	    height: 94%;
	    margin-top: 2%;
	}
	.container {
	    display: grid;
	    position: absolute;
	    width: 94%;
	    height: 95%;
	    margin: auto;
	    padding: 2%;
	    background-color: #fff0f5;
	    grid-template-columns: 1fr 1fr 1fr;
	    grid-gap: 1vw;
	    grid-auto-rows: 279px;
	    grid-auto-flow: row;
	}
	.item {
		background-color: white;
		cursor: pointer;
	}
	.item_img {
		position: relative;
		width: 100%;
		height: 70%;
	}
	.item_price {
		width: 50%;
		height: 30%;
		margin: auto;
		text-align: center;
	}
	.item_price>span {
		font-size: 2vw;

	}
	.item .item_img img {
		position: absolute; top: 0; left: 0;
		width: 100%;
		height: 100%;
	}
	
	/* 옵션 팝업 */
	#popup {
		display: none;
	    position: fixed;
	    left: 23%;
	    top: 26%;
	    width: 54%;
	    height: 85%;
	    margin-top: -10%;
	    z-index: 1000;
	    background: white;
	    border: 1px solid #d1d8dd;
	    box-shadow: 0 0 6px 1px rgb(0 0 0 / 30%);
	}
	.popup_close {
		width: 100%;
		height: 5%;
		position: relative;
	}
	.popup_close img{
	    position: absolute;
	    top: 10%;
	    right: 0.5%;
	    width: 5%;
	    height: 80%;
	    cursor: pointer;
	}
	.popup_container {
		width: 100%;
		height: 80%;
	}
	.popup_contents1 {
		width: 100%;
		height: 50%;
	}
	.popup_img {
		width: 50%;
		height: 100%;
		float: left;
		position: relative;
	}
	.popup_img div>img {
		position: absolute; top: 0; left: 0;
		width: 100%;
		height: 100%;
	}
	.popup_detail {
		width: 50%;
		height: 100%;
		float: left;
	}
	.popup_option {
		width: 100%;
		height: 33%;
	}
	.popup_option span {
		font-size: 1.5vw;
		line-height: 5;
	}
	/* 핫/아이스 옵션 선택 디자인 */
	.popup_option_btn {
		width: 47%;
		height : 32%;
		border: 1px solid #EAE7E7;
		border-radius: 10px;
		float: left;
		margin-top: 5%;
	}
	.popup_option_btn input[type=radio] {
		display: none;
	}
	.popup_option_btn label {
		display: block;
		border-radius: 10px;
		margin: 0 auto;
		text-align: center;
		height: -webkit-fill-available;
		line-height: 200%;
		cursor: pointer;
	}
	/* Checked */
	.popup_option_btn input[type=radio]:checked + label {
		background: #f1b7b7;
		color: #fff;
	}
	/* Hover */
	.popup_option_btn label:hover {
		color: #666;
	}
	/* Disabled */
	.popup_option_btn input[type=radio] + label {
		background: #F9FAFC;
		color: #666;
	}
	.popup_option #minus {
	    width: 10%;
	    height: 40%;
	    margin-right: 1%;
	    font-size: 2vw;
	    line-height: 0%;
	    background-color: #f1b7b7;
	    color: #ffffff;
	    border: 0;
	    cursor: pointer;
	}
	.popup_option #plus{
	 	width: 10%;
	    height: 40%;
	    margin-right: 1%;
	    font-size: 2vw;
	    line-height: 0%;
	    background-color: #f1b7b7;
	    color: #ffffff;
	    border: 0;
	    cursor: pointer;
	}
	.popup_option #quantity{
		width: 10%;
		height: 26px;
		text-align: center;
	    font-size: 1.5vw;
	    padding-left: 1%;
	    border: 0;
	    background-color: transparent;
	}
	/* 샷추가, 얼음양 옵션 부분 */
	.popup_contents2 {
		width: 100%;
		height: 50%;
	}
	.popup_list {
		width: 100%;
		height: 30%;
	}
	.popup_listname {
		width: 40%;
		height: 100%;
		float: left;
		margin-left: 8%;
	}
	.popup_listname span {
		font-size: 1.5vw;
	    margin-left: 20%;
	}
	.popup_listitem {
		width: 40%;
		height: 100%;
		float: left;s
	}
	.popup_listitem #minus {
	    width: 10%;
	    height: 45%;
	    margin-right: 1%;
	    margin-left: 5%;
	    font-size: 2vw;
	    background-color: #f1b7b7;
	    color: #ffffff;
	    border: 0;
	    cursor: pointer;
	}
	.popup_listitem #plus{
	 	width: 10%;
	    height: 45%;
	    margin-right: 1%;
	    font-size: 2vw;
	    background-color: #f1b7b7;
	    color: #ffffff;
	    border: 0;
	    cursor: pointer;
	}
	.popup_listitem #option3{
		width: 10%;
		height: 26px;
		text-align: center;
	    font-size: 1.5vw;
	    padding-left: 1%;
	    border: 0;
	    background-color: transparent;
	}
	.popup_listitem input[type="radio"] {
	    font-size: 1.5vw;
	    accent-color: #d57070;
	    border-radius: 50%;
	    width: 6%;
	    height: 20%;
	    margin-left: 4%;
	}
	.popup_listitem label {
		font-size: 1.5vw;
		padding-right: 3%;
	}
	
	
	/* radio 버튼 불능상태 디자인
		
	  [type="radio"]:disabled {
	  background-color: lightgray;
	  box-shadow: none;
	  opacity: 0.7;
	  cursor: not-allowed;
	}
	
	[type="radio"]:disabled + span {
	  opacity: 0.7;
	  cursor: not-allowed;
	} */
	
	/* 옵션창 확인 부분 */
	.popup_submit {
		width: 100%;
		height: 15%;
	    position: relative;
	}
	.popup_submit div {
		width: 80%;
		height: 100%;
		margin: auto;
	}
	.popup_submit>input[type="submit"] {
		width: 23%;
		height: 50%;
	    margin-left: 40%;
	    border: none;
	    font-size: 2.5vw;
	    font-weight: bold;
	    background-color: #f3a9a9;
	    color: #ffffff;
	}
	.popup_submit div>input  {
		width: 25%;
	    height: 50%;
	    margin-left: 15%;
	    border: none;
	    font-size: 3vw;
	    font-weight: bold;
	    background-color: #D0CECE;
	    color: #ffffff;
	    cursor: pointer;
	}
	.popup_submit div>input:nth-child(2)  {
		width: 25%;
	    height: 50%;
	    margin-left: 15%;
	    border: none;
	    font-size: 3vw;
	    font-weight: bold;
	    background-color: #f3a9a9;
	    color: #ffffff;
	    cursor: pointer;
	}
	/* 장바구니 */
	.cart {
		width: 100%;
		height: 15%;
		background-color: #fff0f5;
	}
	.cart_list {
	   	display: block;
	    overflow: scroll;
	    overflow-x: hidden;
	    width: 100%;
	    height: 94%;
	}
	.cart_list>table {
		width: 100%;
		height: 100%;
		text-align: center;
		padding: 0.6%;
	}
	.cart_list>table>thead>tr {
	    font-size: 1vw;
	}
	.cart_list>table>thead>tr>th {
		position: relative;
	}
	.cart_list>table>thead img {
		position: absolute; top: 0; left: 0;
		width: 32%;
		height: 92%;
	}
	.cart_list>table>tbody>tr {
	    font-size: 1vw;
	    height: 40%;
	}
	.cart_list>table>tbody>tr>td {
	    /* position: relative; */
	}
	.cart_list>table>tbody img {
		position: absolute; top: 7%; left: 34%;
		width: 32%;
		height: 92%;
		filter: opacity(1) drop-shadow(0 0 0 #f7bbcd);
	}
	.cart_list>table>tbody .cancle {
		background-image: url("../image/icon/x-icon.png");
	    background-repeat: no-repeat;
	    background-size: contain;
		border: none;
		width: 32%;
		height: 92%;
		cursor: pointer;
	}
	#minus{
		width: 5%;	
		height: 30px;
		margin-right: 1%;
	    font-size: 1vw;
	    background-color: #f7bbcd;
	    color: #ffffff;
	    border: 0;
	    cursor: pointer;
	}
	#plus{
		width: 5%;	
		height: 30px;
		margin-left: 1%;
	    font-size: 1vw;
	    background-color: #f7bbcd;
	    color: #ffffff;
	    border: 0;
	    cursor: pointer;
	}
	#price{
		width: 10%;
		height: 26px;
		text-align: center;
	    font-size: 1vw;
	    border: 0;
	    background-color: transparent;
	}
	
	/* 주문창 */
	.payment {
		width: 100%;
		height: 15%;
		background-color: #fff0f5;
	}
	.payment_content {
		width: 50%;
		height: 100%;
		float: left;
		background-color: #fff0f5;
	}
	.payment_box1 {
		width: 100%;
		height: 50%;
		background-color: #fff0f5;
	}
	.payment_text {
		width: 40%;
		height: 100%;
		float: left;
		background-color: #fff0f5;
		color: #404040;
	}
	.payment_text span {
		font-size: 1.5vw;
		padding-left: 20%;
		line-height: 2;
		font-weight: bold;
	} 
	.payment_quantityNum {
		width: 60%;
		height: 100%;
		float: left;
		background-color: #fff0f5;
	}
	.payment_quantityNum span {
		font-size: 1.5vw;
		line-height: 2;
		font-weight: bold;
		color: #404040;
	} 
	.payment_amountNum {
		width: 60%;
		height: 100%;
		float: left;
		background-color: #fff0f5;
	}
	.payment_amountNum span {
		font-size: 1.5vw;
		line-height: 2;
		font-weight: bold;
	    color: #d76a6a;
	} 
	.payment_box2 {
		width: 50%;
		height: 100%;
		float: left;
		position: relative;
		background-color: #fff0f5;
	}
	.payment_box2 img {
		position: absolute;
		top: 4%;
	    left: 10%;
		width: 90%;
		height: 90%;
		cursor: pointer;
	}
	/* check_member.jsp 멤버십 적립 페이지 */
	.member_container {
		width: 80%;
		height: 90%;
		margin: auto;
	    background-color: #fbdede7d;
	}
	.title_box {
		width: 100%;
		margin-top: 3%;
		text-align: center;
	}
	.title_box span {
		font-size: 2vw;
		font-weight: 900;
	    color: #F2A8A8;
	}
	.number_box {
		width: 80%;
		height: 30%;
		margin: auto;
	}
	.number_box input {
		width: 80%;
		height: 25%;
		margin: auto;
	    margin-top: 10%;
	    margin-left: 9%;
		border: 1px solid #ccc;
	    font-size: 2vw;
	    font-weight: 600;
	    padding-left: 1%;
	    color: #F2A8A8;
	}
	.keypad_box {
	    display: flex;
	    width: 80%;
	    margin: auto;
	    flex-wrap: wrap;
	}
	.keypad_box > div {
		flex-basis: 30%;
	    margin-bottom: 10px;
	    margin: 1%;
	    margin-left: 2%;
	}
	.keypad_box input {
	     width: 100%;
	     box-sizing: border-box;
	     padding: 10px;
	     font-size: 2vw;
	     font-weight: 600;
	     text-align: center;
	     border: 1px solid #ccc;
	     cursor: pointer;
	     color: #666464;
	}
	.keypad_box input:focus {
	  outline: none;
	  border-color: #f7a5a5;
	  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
	}
	.check_box {
		width: 77%;
	    height: 25%;
	    margin: auto;
	    position: relative;
	}
	.check_box button {
		width: 49%;
		height: 90%;
		cursor: pointer;
		border: 1px solid #ccc;
	    font-size: 2vw;
	    font-weight: 600;
	    background-color: #D0CECE;
		color: #fdfdfd;
	}
	.check_box button:nth-child(2) {
		width: 49%;
		height: 90%;
		cursor: pointer;
		border: 1px solid #ccc;
	    font-size: 2vw;
	    font-weight: 600;
	    background-color: #F2A8A8;
		color: #fdfdfd;
	}
	.check_box div {
	    position: absolute;
	    width: 100%;
	    height: 50%;
	    bottom: 0;
	}
	/* join.jsp */
	.join_container {
	    width: 80%;
	    height: 97%;
	    margin: auto;
	    position: absolute;
	    margin-top: 1%;
	    margin-left: 10%;
	    background-color: #ffffff;
	    border-radius: 1%;
	}
	.text_container {
		width: 80%;
		height: 20%;
		margin: auto;
		text-align: center;
		padding-top: 2%;
	}
	.text_container span {
		font-size: 2vw;
	    font-weight: 900;
	    color: #383838;
	}
	.text_container span:nth-child(1){
		font-size: 2vw;
	    font-weight: 900;
	    color: #F2A8A8;
	}
	.text_container span:nth-child(5){
		font-size: 2vw;
	    font-weight: 900;
	    color: #F2A8A8;
	}
	
	.check_container {
		width: 90%;
		height: 65%;
		margin: auto;
	}
	/*input 은 숨겨주기*/
	.check_container input[type="checkbox"]{
	  	display:none;
	}
	/*input 바로 다음의 label*/
	.check_container input[type="checkbox"] + label{
	  	cursor:pointer;
	}
	
	/*input 바로 다음의 label:before 에 체크하기 전 CSS 설정*/
	.check_container input[type="checkbox"] + label:before{
		content:"";
		display:inline-block;
		width:17px;
		height:17px;
		line-height:17px;
		border:1px solid #cbcbcb;
		vertical-align:middle;/*체크 전과 체크 후 높이 차이 때문에 설정*/
	}
	  
	/*checked된 input 바로 다음의 label:before 에 체크 후 CSS 설정*/  
	.check_container input[type="checkbox"]:checked + label:before{
		color:#fff;
		background-color:#ff8c8c;
		border-color:#cbcbcb;
		font-size:13px;
		text-align:center;
	}
	
	.check_container div #detail {
		background-color: #ffd5d5;
		width: 96px;
		height: 38px;
		color: #ffffff;
		font-size: 1vw;
		font-weight: 700;
		border: 2px solid #e1e1e1;
		cursor: pointer;
	}
	.check_container span {
		margin-left: 1%;
	}
	.check_container div #detail {
		background-color: #ffd5d5;
	    width: 96px;
	    height: 38px;
	    color: #ffffff;
	    font-size: 1vw;
	    font-weight: 700;
	    border: 2px solid #e1e1e1;
	    cursor: pointer;
	}
	
	.detail_container {
		width: 100%;
		height: 90%;
		display: none;
	}
	.detail_container textarea {
		width: 100%;
		height: 270px;
		margin-top: 1%;
		resize: none;
	}
	#join_popup {
		width: 100%;
	    height: 17%;
	    position: relative;
	}
	#modal.modal-overlay {
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    left: 0;
	    top: 0;
	    display: none;
	    flex-direction: column;
	    align-items: center;
	    justify-content: center;
	    background: rgba(255, 255, 255, 0.25);
	    backdrop-filter: blur(3.5px);
	    -webkit-backdrop-filter: blur(1.5px);
	    border-radius: 10px;
	}
	#modal .modal-window {
		background: rgb(255 164 164 / 70%);
	    box-shadow: 0 8px 32px 0 rgb(255 164 164 / 37%);
	    backdrop-filter: blur( 13.5px );
	    -webkit-backdrop-filter: blur( 13.5px );
	    border-radius: 10px;
	    width: 400px;
	    height: 400px;
	    position: relative;
	    top: -100px;
	    text-align: center;
	}
	#modal .title {
	    padding-left: 25px;
	    display: inline-block;
	    color: white;
	    font-size: 38px;
	    font-weight: 600;
	    margin-top: 30%;
	    
	}
	#modal .title span {
	    display: inline-block;
	}
	#modal .title span:nth-child(3) {
	    display: inline-block;
	    font-size: 25px;
	    font-weight: 600;
	}
	#modal .close-area {
	    display: inline-block;
	    float: right;
	    padding-right: 10px;
	    cursor: pointer;
	    color: white;
	    font-size: 27px;
	    font-weight: 600;
	}
	#modal .content {
		width: 100%;
		height: 33%;
	    margin-top: 20px;
	    position: absolute;
	    bottom: -60px;
	}	
	#modal .content input {
		width: 37%;
		height: 40%;
	}
	/* payment.jsp */
	.payment_container {
		width: 90%;
		height: 50%;
		margin: auto;
	    background-color: #fbdede7d;
	}
	.payment_container .payment_title {
	    width: 50%;
	    height: 44%;
	    margin: auto;
	    font-size: 1.5vw;
	    font-weight: 600;
	    padding-top: 8%;
	}
	.payment_title span:nth-child(1) {
	    font-size: 1.5vw;
	    font-weight: 900;
	    color: #F2A8A8;
	}
	.payment_container .payment_amount {
	    width: 100%;
	    height: 27%;
	    margin: auto;
	    font-size: 1.5vw;
	    font-weight: 600;
	    text-align: center;
	}
	.payment_amount span:nth-child(2) {
	    font-size: 1.5vw;
	    font-weight: 900;
	    color: #F2A8A8;
	}
	.payment_button input{
	    width: 21%;
	    height: 50%;
	    margin-top: 4%;
	    border: none;
	    font-size: 2vw;
	    font-weight: bold;
	    background-color: #f3a9a9;
	    color: #ffffff;
	    cursor: pointer;
	}
	.order_container {
		width: 90%;
		height: 50%;	
		margin: auto;
	    background-color: #f3f3f37d;
	
	}
	.order_container .order_title {
	    width: 50%;
	    height: 7%;
	    margin: auto;
	    font-size: 1vw;
	    font-weight: 600;
	    text-align: center;
	}
	.order_contents {
		width: 50%;
		height: 80%;
		margin: auto;
	}
	.order_contents table {
		width: 100%;
		text-align: center;
		font-size: 1.2vw;
	}
}
/* 반응형 */
@media (max-width: 768px){
	.contents {
		width: 100%;
		height: 80%;
	}
/* 	손님 메뉴 탭 
	.customer_menu {
		width: 98%;
		height: 90%;
		background-color: #fff0f5;
	}
	.customer_menu .tit_list {
		position: relative;
		font-size: 0;
	    width: 94%;
	    height: 10%;
	    margin: auto;
	    padding-top: 1%;
	}
	.customer_menu .tit_list:before {
		content:'';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
		z-index: 1;
	}
	.customer_menu .tit_list > li {
		display: inline-block;
		vertical-align: top;
		margin-right: 3px;
		width: 21.7%;
		height: 38%;
	    padding-right: 2%;
		cursor: pointer;
	}
	.customer_menu .tit_list > li a {
		display: inline-block;
		width: 93%;
		height: 200%;
		padding: 1vw 1vw;
		border-radius:4px 4px 0 0;
	    font-size: 3vw;
	    font-weight: bold;
	    text-align: center;
	   	background-color: #fffdfd;
		color: #f7bbcd;
		text-decoration: none;
	}
	.customer_menu .tit_list > li a:hover {
		width: 93%;
		height: 200%;
		background: #efefef;
		border-color: #efefef;
	}
	.customer_menu .tit_list > li.active a {
		width: 93%;
		height: 200%;
		position: relative;
		border-color: #ddd;
		background: #ffe4ec;
		color: #fffdfd;
	    font-weight: bold;
		z-index: 2;
	}
	.customer_menu .tab_con {
		border-top: none;
		width: 100%;
		height: 89%;
		margin: auto;
	}
	.customer_menu .tab_con .tab_list {
		display: none;
		width: 100%;
		height: 100%;
	} */
	/* 손님 메뉴 탭 */
	.customer_menu {
		width: 100%;
		height: 18%;
		background-color: #fff0f5;
	}
	.customer_menu>input[type="radio"] {
		display:none;
	}
	.customer_menu>input[type="radio"] + label {
		display: inline-block;
		width: 22.3%;
		height: 21%;
		padding: 20px;
		cursor: pointer;
		background-color: #fffdfd;
		color: #f7bbcd;
	    font-size: 3vw;
	    font-weight: bold;
	    line-height: 145%;
	    text-align: center;
	   	margin-left: 1.85%;
		margin-top: 1.5%;
		padding: 0;
		white-space: nowrap;
	}
	.customer_menu>input[type="radio"]:checked + label {
		background: #ffe4ec;
		color: #fffdfd;
	    font-weight: bold;
	}
	.conbox {
		width: 100%;
		height: 525%;
		background: #fff0f5;
		margin: 0 auto;
		display: none;
	}
	.customer_menu>input[id="tab01"]:checked ~ .con1 {
		display: block;
	}
	.customer_menu>input[id="tab02"]:checked ~ .con2 {
		display: block;
	}
	.customer_menu>input[id="tab03"]:checked ~ .con3 {
		display: block;
	}
	.customer_menu>input[id="tab04"]:checked ~ .con4 {
		display: block;
	} 
	.scroll_container {
		position: relative;
	    overflow: auto;
	    width: 100%;
	    height: 94%;
	    margin-top: 2%;
	}
	.container {
	    display: grid;
	    position: absolute;
	    width: 94%;
	    height: 95%;
	    margin: auto;
	    padding: 2%;
	    background-color: #fff0f5;
	    grid-template-columns: 1fr 1fr 1fr;
	    grid-gap: 1vw;
	    grid-auto-rows: 279px;
	    grid-auto-flow: row;
	}
	.item {
		background-color: white;
		cursor: pointer;
	}
	.item_img {
		position: relative;
		width: 100%;
		height: 70%;
	}
	.item_price {
		width: 50%;
		height: 30%;
		margin: auto;
	}
	.item_price>span {
		font-size: 2vw;
		text-align: center;
	}
	.item .item_img img {
		position: absolute; top: 0; left: 0;
		width: 100%;
		height: 100%;
	}
	
	/* 옵션 팝업 */
	#popup {
		display: none;
	    position: fixed;
	    left: 23%;
	    top: 26%;
	    width: 54%;
	    height: 85%;
	    margin-top: -10%;
	    z-index: 1000;
	    background: white;
	    border: 1px solid #d1d8dd;
	    box-shadow: 0 0 6px 1px rgb(0 0 0 / 30%);
	}
	.popup_close {
		width: 100%;
		height: 5%;
		position: relative;
	}
	.popup_close img{
	    position: absolute;
	    top: 10%;
	    right: 0.5%;
	    width: 5%;
	    height: 80%;
	    cursor: pointer;
	}
	.popup_container {
		width: 100%;
		height: 80%;
	}
	.popup_contents1 {
		width: 100%;
		height: 50%;
	}
	.popup_img {
		width: 50%;
		height: 100%;
		float: left;
		position: relative;
	}
	.popup_img div>img {
		position: absolute; top: 0; left: 0;
		width: 100%;
		height: 100%;
	}
	.popup_detail {
		width: 50%;
		height: 100%;
		float: left;
	}
	.popup_option {
		width: 100%;
		height: 33%;
	}
	.popup_option span {
		font-size: 1.5vw;
		line-height: 5;
	}
	/* 핫/아이스 옵션 선택 디자인 */
	.popup_option_btn {
		width: 47%;
		height : 32%;
		border: 1px solid #EAE7E7;
		border-radius: 10px;
		float: left;
		margin-top: 5%;
	}
	.popup_option_btn input[type=radio] {
		display: none;
	}
	.popup_option_btn label {
		display: block;
		border-radius: 10px;
		margin: 0 auto;
		text-align: center;
		height: -webkit-fill-available;
		line-height: 200%;
		cursor: pointer;
	}
	/* Checked */
	.popup_option_btn input[type=radio]:checked + label {
		background: #f1b7b7;
		color: #fff;
	}
	/* Hover */
	.popup_option_btn label:hover {
		color: #666;
	}
	/* Disabled */
	.popup_option_btn input[type=radio] + label {
		background: #F9FAFC;
		color: #666;
	}
	.popup_option #minus {
	    width: 10%;
	    height: 40%;
	    margin-right: 1%;
	    font-size: 2vw;
	    line-height: 0%;
	    background-color: #f1b7b7;
	    color: #ffffff;
	    border: 0;
	    cursor: pointer;
	}
	.popup_option #plus{
	 	width: 10%;
	    height: 40%;
	    margin-right: 1%;
	    font-size: 2vw;
	    line-height: 0%;
	    background-color: #f1b7b7;
	    color: #ffffff;
	    border: 0;
	    cursor: pointer;
	}
	.popup_option #quantity{
		width: 10%;
		height: 26px;
		text-align: center;
	    font-size: 1.5vw;
	    padding-left: 1%;
	    border: 0;
	    background-color: transparent;
	}
	/* 샷추가, 얼음양 옵션 부분 */
	.popup_contents2 {
		width: 100%;
		height: 50%;
	}
	.popup_list {
		width: 100%;
		height: 30%;
	}
	.popup_listname {
		width: 40%;
		height: 100%;
		float: left;
		margin-left: 8%;
	}
	.popup_listname span {
		font-size: 1.5vw;
	    margin-left: 20%;
	}
	.popup_listitem {
		width: 40%;
		height: 100%;
		float: left;s
	}
	.popup_listitem #minus {
	    width: 10%;
	    height: 45%;
	    margin-right: 1%;
	    margin-left: 5%;
	    font-size: 2vw;
	    background-color: #f1b7b7;
	    color: #ffffff;
	    border: 0;
	    cursor: pointer;
	}
	.popup_listitem #plus{
	 	width: 10%;
	    height: 45%;
	    margin-right: 1%;
	    font-size: 2vw;
	    background-color: #f1b7b7;
	    color: #ffffff;
	    border: 0;
	    cursor: pointer;
	}
	.popup_listitem #option3{
		width: 10%;
		height: 26px;
		text-align: center;
	    font-size: 1.5vw;
	    padding-left: 1%;
	    border: 0;
	    background-color: transparent;
	}
	.popup_listitem input[type="radio"] {
	    font-size: 1.5vw;
	    accent-color: #d57070;
	    border-radius: 50%;
	    width: 6%;
	    height: 20%;
	    margin-left: 4%;
	}
	.popup_listitem label {
		font-size: 1.5vw;
		padding-right: 3%;
	}
	
	
	/* radio 버튼 불능상태 디자인
		
	  [type="radio"]:disabled {
	  background-color: lightgray;
	  box-shadow: none;
	  opacity: 0.7;
	  cursor: not-allowed;
	}
	
	[type="radio"]:disabled + span {
	  opacity: 0.7;
	  cursor: not-allowed;
	} */
	
	/* 옵션창 확인 부분 */
	.popup_submit {
		width: 100%;
		height: 15%;
	    position: relative;
	}
	.popup_submit>input[type="submit"] {
		width: 23%;
		height: 50%;
	    margin-left: 40%;
	    border: none;
	    font-size: 2.5vw;
	    font-weight: bold;
	    background-color: #f3a9a9;
	    color: #ffffff;
	}
	.popup_submit div {
		width: 80%;
		height: 100%;
		margin: auto;
	}
	.popup_submit div>input  {
		width: 25%;
	    height: 50%;
	    margin-left: 15%;
	    border: none;
	    font-size: 3vw;
	    font-weight: bold;
	    background-color: #D0CECE;
	    color: #ffffff;
	    cursor: pointer;
	}
	.popup_submit div>input:nth-child(2)  {
		width: 25%;
	    height: 50%;
	    margin-left: 15%;
	    border: none;
	    font-size: 3vw;
	    font-weight: bold;
	    background-color: #f3a9a9;
	    color: #ffffff;
	    cursor: pointer;
	}
	/* 장바구니 */
	.cart {
		width: 100%;
		height: 15%;
		background-color: #fff0f5;
	}
	.cart_list {
	    display: block;
	    overflow: scroll;
	    overflow-x: hidden;
	    width: 100%;
	    height: 94%;
	}
	.cart_list>table {
		width: 100%;
		height: 100%;
		text-align: center;
		padding: 0.6%;
	}
	.cart_list>table>thead>tr {
	    font-size: 1vw;
	}
	.cart_list>table>thead>tr>th {
		position: relative;
	}
	.cart_list>table>thead img {
		position: absolute; top: 0; left: 0;
		width: 32%;
		height: 92%;
	}
	.cart_list>table>tbody>tr {
	    font-size: 1vw;
	    height: 40%;
	}
	.cart_list>table>tbody>tr>td {
	    /* position: relative; */
	}
	.cart_list>table>tbody img {
		position: absolute; top: 7%; left: 34%;
		width: 32%;
		height: 92%;
		filter: opacity(1) drop-shadow(0 0 0 #f7bbcd);
	}
	.cart_list>table>tbody .cancle {
		background-image: url("../image/icon/x-icon.png");
	    background-repeat: no-repeat;
	    background-size: contain;
		border: none;
		width: 32%;
		height: 92%;
		cursor: pointer;
	}
	#minus{
		width: 5%;	
		height: 30px;
		margin-right: 1%;
	    font-size: 1vw;
	    background-color: #f7bbcd;
	    color: #ffffff;
	    border: 0;
	    cursor: pointer;
	}
	#plus{
		width: 5%;	
		height: 30px;
		margin-left: 1%;
	    font-size: 1vw;
	    background-color: #f7bbcd;
	    color: #ffffff;
	    border: 0;
	    cursor: pointer;
	}
	#price{
		width: 10%;
		height: 26px;
		text-align: center;
	    font-size: 1vw;
	    border: 0;
	    background-color: transparent;
	}
	
	/* 주문창 */
	.payment {
		width: 100%;
		height: 15%;
		background-color: #fff0f5;
	}
	.payment_content {
		width: 50%;
		height: 100%;
		float: left;
		background-color: #fff0f5;
	}
	.payment_box1 {
		width: 100%;
		height: 50%;
		background-color: #fff0f5;
	}
	.payment_text {
		width: 40%;
		height: 100%;
		float: left;
		background-color: #fff0f5;
		color: #404040;
	}
	.payment_text span {
		font-size: 1.5vw;
		padding-left: 20%;
		line-height: 2;
		font-weight: bold;
	} 
	.payment_quantityNum {
		width: 60%;
		height: 100%;
		float: left;
		background-color: #fff0f5;
	}
	.payment_quantityNum span {
		font-size: 1.5vw;
		line-height: 2;
		font-weight: bold;
		color: #404040;
	} 
	.payment_amountNum {
		width: 60%;
		height: 100%;
		float: left;
		background-color: #fff0f5;
	}
	.payment_amountNum span {
		font-size: 1.5vw;
		line-height: 2;
		font-weight: bold;
	    color: #d76a6a;
	} 
	.payment_box2 {
		width: 50%;
		height: 100%;
		float: left;
		position: relative;
		background-color: #fff0f5;
	}
	.payment_box2 img {
		position: absolute;
		top: 4%;
	    left: 10%;
		width: 90%;
		height: 90%;
		cursor: pointer;
	}
	/* check_member.jsp 멤버십 적립 페이지 */
	.member_container {
		width: 80%;
		height: 90%;
		margin: auto;
	    background-color: #fbdede7d;
	}
	.title_box {
		width: 100%;
		margin-top: 3%;
		text-align: center;
	}
	.title_box span {
		font-size: 2vw;
		font-weight: 900;
	    color: #F2A8A8;
	}
	.number_box {
		width: 80%;
		height: 30%;
		margin: auto;
	}
	.number_box input {
		width: 80%;
		height: 25%;
		margin: auto;
	    margin-top: 10%;
	    margin-left: 9%;
		border: 1px solid #ccc;
	    font-size: 2vw;
	    font-weight: 600;
	    padding-left: 1%;
	    color: #F2A8A8;
	}
	.keypad_box {
	    display: flex;
	    width: 80%;
	    margin: auto;
	    flex-wrap: wrap;
	}
	.keypad_box > div {
		flex-basis: 30%;
	    margin-bottom: 10px;
	    margin: 1%;
	    margin-left: 2%;
	}
	.keypad_box input {
	     width: 100%;
	     box-sizing: border-box;
	     padding: 10px;
	     font-size: 2vw;
	     font-weight: 600;
	     text-align: center;
	     border: 1px solid #ccc;
	     cursor: pointer;
	     color: #666464;
	}
	.keypad_box input:focus {
	  outline: none;
	  border-color: #f7a5a5;
	  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
	}
	.check_box {
		width: 77%;
	    height: 25%;
	    margin: auto;
	    position: relative;
	}
	.check_box button {
		width: 48%;
		height: 90%;
		cursor: pointer;
		border: 1px solid #ccc;
	    font-size: 2vw;
	    font-weight: 600;
	    background-color: #D0CECE;
		color: #fdfdfd;
	}
	.check_box button:nth-child(2) {
		width: 48%;
		height: 90%;
		cursor: pointer;
		border: 1px solid #ccc;
	    font-size: 2vw;
	    font-weight: 600;
	    background-color: #F2A8A8;
		color: #fdfdfd;
	}
	.check_box div {
	    position: absolute;
	    width: 100%;
	    height: 50%;
	    bottom: 0;
	}
	/* join.jsp */
	.join_container {
	    width: 80%;
	    height: 97%;
	    margin: auto;
	    position: absolute;
	    margin-top: 1%;
	    margin-left: 10%;
	    background-color: #ffffff;
	    border-radius: 1%;
	}
	.text_container {
		width: 80%;
		height: 20%;
		margin: auto;
		text-align: center;
		padding-top: 2%;
	}
	.text_container span {
		font-size: 2vw;
	    font-weight: 900;
	    color: #383838;
	}
	.text_container span:nth-child(1){
		font-size: 2vw;
	    font-weight: 900;
	    color: #F2A8A8;
	}
	.text_container span:nth-child(5){
		font-size: 2vw;
	    font-weight: 900;
	    color: #F2A8A8;
	}
	
	.check_container {
		width: 90%;
		height: 65%;
		margin: auto;
	}
	/*input 은 숨겨주기*/
	.check_container input[type="checkbox"]{
	  	display:none;
	}
	/*input 바로 다음의 label*/
	.check_container input[type="checkbox"] + label{
	  	cursor:pointer;
	}
	
	/*input 바로 다음의 label:before 에 체크하기 전 CSS 설정*/
	.check_container input[type="checkbox"] + label:before{
		content:"";
		display:inline-block;
		width:17px;
		height:17px;
		line-height:17px;
		border:1px solid #cbcbcb;
		vertical-align:middle;/*체크 전과 체크 후 높이 차이 때문에 설정*/
	}
	  
	/*checked된 input 바로 다음의 label:before 에 체크 후 CSS 설정*/  
	.check_container input[type="checkbox"]:checked + label:before{
		color:#fff;
		background-color:#ff8c8c;
		border-color:#cbcbcb;
		font-size:13px;
		text-align:center;
	}
	
	.check_container div #detail {
		background-color: #ffd5d5;
		width: 96px;
		height: 38px;
		color: #ffffff;
		font-size: 1vw;
		font-weight: 700;
		border: 2px solid #e1e1e1;
		cursor: pointer;
	}
	.check_container span {
		margin-left: 1%;
	}
	.check_container div #detail {
		background-color: #ffd5d5;
	    width: 96px;
	    height: 38px;
	    color: #ffffff;
	    font-size: 1vw;
	    font-weight: 700;
	    border: 2px solid #e1e1e1;
	    cursor: pointer;
	}
	
	.detail_container {
		width: 100%;
		height: 90%;
		display: none;
	}
	.detail_container textarea {
		width: 100%;
		height: 270px;
		margin-top: 1%;
		resize: none;
	}
	#join_popup {
		width: 100%;
	    height: 17%;
	    position: relative;
	}
	#modal.modal-overlay {
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    left: 0;
	    top: 0;
	    display: none;
	    flex-direction: column;
	    align-items: center;
	    justify-content: center;
	    background: rgba(255, 255, 255, 0.25);
	    backdrop-filter: blur(3.5px);
	    -webkit-backdrop-filter: blur(1.5px);
	    border-radius: 10px;
	}
	#modal .modal-window {
		background: rgb(255 164 164 / 70%);
	    box-shadow: 0 8px 32px 0 rgb(255 164 164 / 37%);
	    backdrop-filter: blur( 13.5px );
	    -webkit-backdrop-filter: blur( 13.5px );
	    border-radius: 10px;
	    width: 300px;
	    height: 300px;
	    position: relative;
	    top: -100px;
	    text-align: center;
	}
	#modal .title {
	    padding-left: 8px;
	    display: inline-block;
	    color: white;
	    font-size: 29px;
	    font-weight: 600;
	    margin-top: 8%;
	    
	}
	#modal .title span {
	    display: inline-block;
	}
	#modal .title span:nth-child(3) {
	    display: inline-block;
	    font-size: 25px;
	    font-weight: 600;
	}
	#modal .close-area {
	    display: inline-block;
	    float: right;
	    padding-right: 10px;
	    cursor: pointer;
	    color: white;
	    font-size: 27px;
	    font-weight: 600;
	}
	#modal .content {
		width: 100%;
		height: 33%;
	    margin-top: 20px;
	    position: absolute;
	    bottom: -23px;
	}	
	#modal .content input {
		width: 37%;
		height: 40%;
	}
	/* payment.jsp */
	.payment_container {
		width: 90%;
		height: 50%;
		margin: auto;
	    background-color: #fbdede7d;
	}
	.payment_container .payment_title {
	    width: 50%;
	    height: 44%;
	    margin: auto;
	    font-size: 1.5vw;
	    font-weight: 600;
	    padding-top: 8%;
	}
	.payment_title span:nth-child(1) {
	    font-size: 1.5vw;
	    font-weight: 900;
	    color: #F2A8A8;
	}
	.payment_container .payment_amount {
	    width: 100%;
	    height: 27%;
	    margin: auto;
	    font-size: 1.5vw;
	    font-weight: 600;
	    text-align: center;
	}
	.payment_amount span:nth-child(2) {
	    font-size: 1.5vw;
	    font-weight: 900;
	    color: #F2A8A8;
	}
	.payment_button input{
	    width: 21%;
	    height: 50%;
	    margin-top: 4%;
	    border: none;
	    font-size: 2vw;
	    font-weight: bold;
	    background-color: #f3a9a9;
	    color: #ffffff;
	    cursor: pointer;
	}
	.order_container {
		width: 90%;
		height: 50%;	
		margin: auto;
	    background-color: #f3f3f37d;
	
	}
	.order_container .order_title {
	    width: 50%;
	    height: 7%;
	    margin: auto;
	    font-size: 1vw;
	    font-weight: 600;
	    text-align: center;
	}
	.order_contents {
		width: 50%;
		height: 80%;
		margin: auto;
	}
	.order_contents table {
		width: 100%;
		text-align: center;
		font-size: 1.2vw;
	}
}