@charset "UTF-8";
*{
	margin: 0;
	padding:0;
}
/* 화면 전체 렙 */
.wrapper{
	width: auto;
	height: 1500px;
	margin: auto;
}
/* content 랩 */
.wrap{
	width: 80%;
	height: 1300px;
	margin: auto;
}
.top {
	width: 100%;
	height: 5%;
}
.top>span {
	display: inline-block;
	margin-top: 1%;
	width: 8%;
	height: 80%;  
}
.top>span>a {
	display: inline-block;
    height: 100%;
	text-decoration-line: none;
	color: white;
	line-height: 155%;
	padding-left: 2%;
	background-color: #f7bbcd;
	font-size: 1.5vw;
    font-weight: 900;
    white-space: nowrap;
}
.top span:nth-child(2) {
	width: 50%;
	height: 80%;
	font-size: 1.5vw;
	font-weight: 900;
	margin-left: 35%;
}
/* 로그인 버튼 영역 */
.login_area{
	width: 100%;
	height: 100%;
	display: inline-block;	
	text-align: center;	
	margin-top: 5%;	
}
.login_button{
    width: 50%;
    /* height: 10%; */
    background-color: #f7bbcd;
    margin-top: 3%;
    margin-left: 25%;
    font-size: 10vw;
    border-radius: 10px;
    cursor: pointer;
}
.login_button>span{
	margin-top: 10px;
    font-weight: 900;
    display: inline-block;
}
.login_button>span>a{
    display: block;
    width: 100%;
    height: 200%;
	text-decoration-line: none;
	color: white;
    position: relative;
    top: -100%;
}


/* 반응형 */
@media (max-width: 1024px){
	.wrapper{
		width: auto;
		height: 1500px;
		margin: auto;
	}
	/* content 랩 */
	.wrap{
		width: 80%;
		height: 1300px;
		margin: auto;
	}
	.top>span {
		display: inline-block;
		margin-top: 1%;
		width: 8%;
		height: 80%;  
	}
	.top>span>a {
		display: inline-block;
	    height: 100%;
		text-decoration-line: none;
		color: white;
		line-height: 155%;
		padding-left: 2%;
		background-color: #f7bbcd;
		font-size: 1.5vw;
	    font-weight: 900;
	    white-space: nowrap;
	}
	.top span:nth-child(2) {
		width: 50%;
		height: 80%;
		font-size: 1.5vw;
		font-weight: 900;
		margin-left: 35%;
	}
	/* 로그인 버튼 영역 */
	.login_area{
		width: 100%;
		height: 100%;
		display: inline-block;	
		text-align: center;	
		margin-top: 20%;	
	}
	.login_button{
	    width: 50%;
	    /* height: 10%; */
	    background-color: #f7bbcd;
	    margin-top: 3%;
	    margin-left: 25%;
	    font-size: 10vw;
	    border-radius: 10px;
	    cursor: pointer;
	}
	.login_button>span{
		margin-top: 10px;
	    font-weight: 900;
	    display: inline-block;
	}
	.login_button>span>a{
	    display: block;
	    width: 100%;
	    height: 200%;
		text-decoration-line: none;
		color: white;
	    position: relative;
	    top: -100%;
	}
}
/* 반응형 */
@media (max-width: 768px){
	.wrapper{
		width: auto;
		height: 1500px;
		margin: auto;
	}
	/* content 랩 */
	.wrap{
		width: 80%;
		height: 1300px;
		margin: auto;
	}
	.top>span {
		display: inline-block;
		margin-top: 1%;
		width: 8%;
		height: 80%;  
	}
	.top>span>a {
		display: inline-block;
	    height: 100%;
		text-decoration-line: none;
		color: white;
		line-height: 155%;
		padding-left: 2%;
		background-color: #f7bbcd;
		font-size: 1.5vw;
	    font-weight: 900;
	    white-space: nowrap;
	}
	.top span:nth-child(2) {
		width: 50%;
		height: 80%;
		font-size: 1.5vw;
		font-weight: 900;
		margin-left: 35%;
	}
	/* 로그인 버튼 영역 */
	.login_area{
		width: 100%;
		height: 100%;
		display: inline-block;	
		text-align: center;	
		margin-top: 20%;	
	}
	.login_button{
	    width: 50%;
	    /* height: 10%; */
	    background-color: #f7bbcd;
	    margin-top: 3%;
	    margin-left: 25%;
	    font-size: 10vw;
	    border-radius: 10px;
	    cursor: pointer;
	}
	.login_button>span{
		margin-top: 10px;
	    font-weight: 900;
	    display: inline-block;
	}
	.login_button>span>a{
	    display: block;
	    width: 100%;
	    height: 200%;
		text-decoration-line: none;
		color: white;
	    position: relative;
	    top: -100%;
	}
	}
}
