@charset "UTF-8";
*{
	margin: 0;
	padding:0;
}
/* 화면 전체 렙 */
.wrapper{
	width: 1987px;
	height: 1500px;
	margin: auto;
}
/* content 랩 */
.wrap{
	width: 1350px;
	height: 1300px;
	margin: auto;
}
.top {
	width: 100%;
	height: 5%;
}
.top>span {
	display: block;
	margin-top: 1%;
	width: 10%;
	height: 80%;  
	background-color: #f7bbcd;
	font-size: 2rem;
    font-weight: 900;
}
.top>span>a {
	display: block;
    height: 100%;
	text-decoration-line: none;
	color: white;
	line-height: 165%;
	padding-left: 2%;
}
/* 홈페이지 기능 네비 */ 
.top_gnb_area{
	width: 100%;
    height: 50px;
    background-color: #a2a2ea;
}
/* 로고, 검색, 로그인 */
.top_area{
	width: 100%;
    height: 150px;
    /* background-color: #f7f0b9; */
}
/* 로고 영역 */
.logo_area{
	width: 25%;
	height: 100%;
	background-color: red;
	float:left;
}
/* 검색 박스 영역 */
.search_area{
	width: 50%;
	height: 100%;
	background-color: yellow;
	float:left;	
}
/* 로그인 버튼 영역 */
.login_area{
	width: 100%;
	height: 100%;
	display: inline-block;	
	text-align: center;	
	margin-top: 20%;	
}
.login_button{
	width: 50%;
	height: 10%;
    background-color: #f7bbcd;
    margin-top: 3%;
    margin-left: 25%;
    padding-top: 8%;
    line-height: 165%;
    font-size: 10rem;
    font-weight: 900;
    border-radius: 10px;
    cursor: pointer;	
}
.login_button>a{
    display: block;
    width: 100%;
    height: 200%;
	text-decoration-line: none;
	color: white;
    position: relative;
    top: -100%;
}

.login_area>span{
	margin-top: 10px;
    font-weight: 900;
    display: inline-block;
}

/* 반응형 */
@media (max-width: 1000px){
	.wrapper{
		width: auto;
	}
	/* content 랩 */
	.wrap{
		width: auto;
		margin: auto;
	}
	/* 로그인 버튼 영역 */
	.login_area{
		width: 100%;
		height: 100%;
		display: inline-block;	
		text-align: center;	
		margin-top: 20%;	
	}
	.login_button{
		width: 50%;
		height: 10%;
	    background-color: #f7bbcd;
	    margin-top: 30px;
	    margin-left: 300px;
	    padding-top: 8%;
	    line-height: 25%;
	    font-size: 800%;
	    font-weight: 900;
	    border-radius: 10px;
	    cursor: pointer;	
	}
	.login_button>a{
		text-decoration-line: none;
		color: white;
	}
	
	.login_area>span{
		margin-top: 10px;
	    font-weight: 900;
	    display: inline-block;
	}
}

/* 제품 목록 네비 */
.navi_bar_area{
	width: 100%;
    height: 70px;
    background-color: #7696fd;
}

/* 홈페이지 메인 제품 목록  */
.content_area{
	width: 100%;
    background-color: #97ef97;
    height: 1000px;
}

/* float 속성 해제 */
.clearfix{
	clear: both;
}