<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.cafekiosk.mapper.CustomerMapper">
  
  	<!-- 메뉴 조회 -->
	<select id="getMenuList" resultType="com.cafekiosk.model.KioskManageMenuVO">
		SELECT 	menu_idx, menu_name, menu_price, 
		 		menu_category, menu_picture, 
		 		option1_YN, option2_YN, option3_YN
		FROM manage_menu
		WHERE menu_category = #{tabName};
	</select>
	
	<!-- 장바구니 등록 -->
	<insert id="insertCart">
		INSERT INTO cart
			(menu_idx, menu_name, menu_price, count, 
				option1, option2, option3, option_price, active_YN, reg_time)
		VALUES (#{menu_idx}, #{menu_name}, #{menu_price}, #{count}, 
				#{option1}, #{option2}, #{option3}, #{option_price}, #{active_YN}, now());
	</insert>
	
  	<!-- 장바구니 조회 -->
	<select id="getCartList" resultType="com.cafekiosk.model.CartVO">
		SELECT 	cart_idx, menu_idx, menu_name, menu_price, count, 
				option1, option2, option3, option_price, active_YN, reg_time
		FROM cart
		WHERE active_YN = 'Y'
		ORDER BY reg_time;
	</select>
	
	<!-- 장바구니 삭제 -->
	<update id="deleteCart" parameterType="com.cafekiosk.model.CartVO">
		UPDATE cart
		SET
			active_YN= 'N'
		WHERE cart_idx = #{cart_idx};
	</update>
	
	<!-- 장바구니 수정 -->
	<update id="editCart" parameterType="com.cafekiosk.model.CartVO">
		UPDATE cart
		SET
			count = #{count},
			option_price = #{option_price}
		WHERE cart_idx = #{cart_idx};
	</update>
	
	<!-- 멤버 조회 -->
	<select id="checkMember" resultType="int">
		SELECT COUNT(user_no)
		FROM customer
		WHERE user_no = #{user_no};
	</select>
	
	<!-- 멤버 등록 -->
	<insert id="insertMember">
		INSERT INTO customer
			(user_no, coupon_cnt)
		VALUES (#{user_no}, '0');
	</insert>
	
	<!-- 주문 등록 -->
	<insert id="insertOrder">
		INSERT INTO order_number
			(order_no, user_no, cart_idx, menu_idx, menu_name, menu_price, option_price, active_YN)
		VALUES (#{order_no}, #{user_no}, #{cart_idx}, #{menu_idx}, #{menu_name}, #{menu_price}, #{option_price}, 'Y');
	</insert>
	
	<!-- 결제후 Order Active 수정 -->
	<update id="editOrder" parameterType="com.cafekiosk.model.OrderNumberVO">
		UPDATE order_number
		SET
			active_YN = 'P'
		WHERE order_no = #{order_no};
	</update>
	
	<!-- 결제후 Cart Active 수정 -->
	<update id="editCartActive" parameterType="com.cafekiosk.model.CartVO">
		UPDATE cart
		SET
			active_YN = 'N'
		WHERE active_YN = 'Y';
	</update>
	
	<!-- 쿠폰 개수 조회 -->
	<select id="checkCoupon" resultType="int">
		SELECT coupon_cnt
		FROM customer
		WHERE user_no = #{user_no};
	</select>
	
	<!-- 쿠폰 개수 수정 -->
	<update id="editCoupon" parameterType="com.cafekiosk.model.CustomerVO">
		UPDATE customer
		SET
			coupon_cnt = #{coupon_cnt}
		WHERE user_no = #{user_no};
	</update>
	
	<!-- 결제 등록 -->
	<insert id="insertPayment">
		INSERT INTO payment
			(order_no, user_no, coupon_YN, total_price, pay_status, order_date, order_time)
		VALUES (#{order_no}, #{user_no}, #{coupon_YN}, #{total_price}, 'P', DATE_FORMAT(now(), '%Y-%m-%d'), DATE_FORMAT(now(), '%H:%i:%s'));
	</insert>
	
  </mapper>