<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.cafekiosk.mapper.CustomerMapper">
  
  	<!-- 메뉴 조회 -->
	<select id="getMenuList" resultType="com.cafekiosk.model.ManageMenuVO">
		SELECT 	menu_idx, menu_name, menu_price, 
		 		menu_category, menu_picture, 
		 		option1_YN, option2_YN, option3_YN
		FROM manage_menu
		WHERE menu_category = #{tabName};
	</select>
	
	<!-- 장바구니 등록 -->
	<insert id="insertCart">
		INSERT INTO cart
			(menu_idx, menu_name, menu_price, count, 
				option1, option2, option3, option_price, active_YN, reg_time)
		VALUES (#{menu_idx}, #{menu_name}, #{menu_price}, #{count}, 
				#{option1}, #{option2}, #{option3}, #{option_price}, #{active_YN}, now());
	</insert>
	
  	<!-- 장바구니 조회 -->
	<select id="getCartList" resultType="com.cafekiosk.model.CartVO">
		SELECT 	menu_idx, menu_name, menu_price, count, 
				option1, option2, option3, option_price, active_YN
		FROM cart
		WHERE active_YN = 'Y'
		ORDER BY reg_time;
	</select>
	
  </mapper>