<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.cafekiosk.mapper.KioskManageMenuMapper">
	<!-- 메뉴 등록 -->
	<insert id="insertMenu">
		insert into manage_menu values(#{menu_idx}, #{menu_name}, #{menu_price}, #{menu_category}, #{menu_picture}, #{option1_YN}, #{option2_YN}, #{option3_YN}, 'test', now(), now())
	</insert>
	
	<!-- 메뉴 전체 조회 -->
	<select id="getMenuList" resultType="com.cafekiosk.model.KioskManageMenuVO">
		SELECT 	menu_idx, menu_name, menu_price, menu_category
		FROM manage_menu
		WHERE	active_YN = "Y"
	</select>
	
	<!-- 메뉴 상세 조회 -->
	<select id="getMenuInfo" resultType="com.cafekiosk.model.KioskManageMenuVO">
		SELECT 	menu_idx, menu_name, menu_price, menu_category, menu_picture, option1_YN, option2_YN, option3_YN
		FROM manage_menu
		WHERE menu_idx = #{menu_idx}
	</select>
	
	<!-- 메뉴 수정 -->
	<update id="editMenuInfo" parameterType="com.cafekiosk.model.KioskManageMenuVO">
		UPDATE manage_menu set  menu_name=#{menu_name}, menu_price=#{menu_price}, menu_category=#{menu_category}, menu_picture=#{menu_picture}, option1_YN=#{option1_YN}, option2_YN=#{option2_YN}, option3_YN=#{option3_YN}, mod_time=now()
		WHERE menu_idx = #{menu_idx}
	</update>
	
	<!-- 메뉴 삭제 -->
	<update id="deleteMenu">
		UPDATE manage_menu set active_YN="N" WHERE menu_idx = #{menu_idx}
	</update>

	<!-- 주문 내역 조회 -->
	<select id="getOrderList" resultType="com.cafekiosk.model.OrderNumberVO">
		<![CDATA[
		SELECT 	order_idx, order_no, str_to_date(order_no, '%Y%m%d%H%i%s') AS order_date, user_no, menu_idx, menu_name, count(*) as total_cnt, count(order_no) AS cnt, menu_price, sum(option_price) AS option_price
		FROM 	order_number
		WHERE 	left(order_no,8) >= replace(#{start_date},'-','')
		AND		left(order_no,8) <= replace(#{end_date},'-','')
		AND		active_YN = "Y"
		GROUP BY order_no
		ORDER BY order_date DESC
		]]>
	</select>
	
	<!-- 주문 내역 삭제 -->
	<update id="deleteOrder" parameterType="com.cafekiosk.model.OrderNumberVO">
		UPDATE 	order_number
		SET		active_YN= 'N'
		WHERE 	order_no = #{order_no}
	</update>
	
	<!-- 일매출 내역 조회 -->
	<select id="getDaySales" resultType="com.cafekiosk.model.OrderNumberVO">
		<![CDATA[
		SELECT 	order_idx, order_no, str_to_date(order_no, '%Y%m%d%H%i%s') AS order_date, user_no, menu_idx, menu_name, count(order_no) AS cnt, menu_price, sum(option_price) AS option_price
		FROM 	order_number
		WHERE 	left(order_no,8) = replace(#{this_day},'-','')
		AND		active_YN = "Y"
		GROUP BY order_no
		ORDER BY order_date DESC
		]]>
	</select>
	
	<!-- 월매출 내역 조회 -->
	<select id="getMonthlySales" resultType="com.cafekiosk.model.OrderNumberVO">
		<![CDATA[
		SELECT 	order_no, str_to_date(order_no, '%Y%m%d%H%i%s') AS order_date, count(LEFT(order_no,8)) AS total_cnt, sum(option_price) AS option_price 
		FROM 	order_number 
		WHERE 	left(order_no,8) >= replace(#{start_date},'-','')
		AND		left(order_no,8) <= replace(#{end_date},'-','')
		AND 	active_YN = "Y" 
		GROUP BY left(order_no ,8)
		ORDER BY order_date DESC
		]]>
	</select>
  </mapper>