<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.cafekiosk.mapper.OrderNumberMapper">
  
	<!-- 주문 내역 조회 -->
	<select id="getOrderList" resultType="com.cafekiosk.model.OrderNumberVO">
		SELECT 	order_idx, order_no, user_no, menu_idx, menu_name, menu_price, option_price
		FROM 	order_number
	</select>
	
  </mapper>
  
